html, body {margin:0; padding:0;}

body {background:#f1f1f1; font-size:14px;}

h1, h2 {padding:0; margin:0; text-align:center;}
ul {list-style:none; margin:0; padding:0;}
li {margin:0; padding:0;}
input, button {border-radius:0; -webkit-appearance: none; appearance: none; box-sizing:border-box;}

.box {padding:100px 50px;}
.box ul {width:100%; display:flex; gap:10px 0; flex-direction: column;}
.box ul>li {width:100%; display:flex; gap:0 5px; flex-wrap:wrap;}
.box ul>li input {flex:1; width:100%; height:30px; box-sizing:border-box; margin:0;}
button {height:30px;}

.box ul>li.type2 input, .box ul>li.type2 button {font-size:16px;}

div, section {box-sizing:border-box;}

.wrap {position:relative;}
.wrap .header {height:50px; background:#333; color:#fff; top:0; position:-webkit-sticky; position:sticky;}
.wrap .container {width:100%; height:900px; display:flex; flex-direction:row; }
.container .side {flex:20%; background:red;}
.container .content {flex:80%; padding:20px;}
.footer {background:#ccc; height:50px; bottom:0; position:-webkit-sticky; position:sticky;}


.content, .gap1 {display:flex; flex-direction:column; gap:20px;}
section, .gap2 {display:flex; flex-direction: column; gap:10px;}

section {border:1px solid #000; padding:10px;}

.tit h2 {text-align:left; }

table {width:100%; table-layout:fixed; border-collapse:collapse;}
table th {background:#222; color:#fff;}
table th, table td {border:1px solid #ccc; height:25px;}

.btns {display:flex;}
.btns>div {display:flex; gap:5px; flex:1; flex-wrap: wrap;}
.btns>div.r {justify-content:flex-end;}

input[type="text"] {width:100%; height:30px;}
.form_list {display:table; table-layout:fixed; width:100%;}
.form_list>li {display:table-row;}
.form_list>li>div {display:table-cell; padding:3px;}
.form_list>li>div.th {width:100px;}
