html, body {margin:0; padding:0;}

body {background:#f1f1f1; font-size:14px;}

h1 {padding:0; margin:0; text-align:center;}
ul {list-style:none; margin:0; padding:0;}
li {margin:0; padding:0;}
input, button {border-radius:0;}

.box {padding:100px 50px;}
.box ul {width:100%; display:flex; gap:10px 0; flex-direction: column;}
.box ul>li {width:100%; display:flex; gap:0 5px; flex-wrap:wrap;}
.box ul>li input {flex:1; width:100%; height:30px; box-sizing:border-box; margin:0;}
.box button {height:30px;}

.box ul>li.type2 input, .box ul>li.type2 button {font-size:16px;}
